.multi-player-back {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  border-radius: 25px;
}

.player-preview-grid {
  display: flex;
  flex-direction: column;
  background-color: #353541;
  margin-inline: 6.6px;
}

.player-preview-cell {
  width: 10px;
  height: 10px;
  border: 0.6px solid #242834;
}

.players-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: auto;
  left: 2vw;
  gap: 1vw;
  animation: slideLeft 1s;
}

.leaderboard-player-component {
  border: 2px solid #fd1e2d;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  padding: 15px;
  position: relative;
}

.leaderboard-player-info {
  flex-direction: column;
  color: white;
  margin-left: 10px;
}

.leaderboard-player-info p {
  margin: 12px 0;
}

.player-preview-cell.cyan { background-color: #E02A43; }
.player-preview-cell.blue { background-color: #B62336; }
.player-preview-cell.orange { background-color: #941C2C; }
.player-preview-cell.yellow { background-color: #ec1e28; }
.player-preview-cell.green { background-color: #a72e3e; }
.player-preview-cell.purple { background-color: #990c1f; }
.player-preview-cell.red { background-color: #FF3E3E; }
.player-preview-cell.hover { background: rgba(255, 255, 255, 0.3); }

.overlay-game-over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color: #fd1e2d;
  z-index: 2;
}

.next-block-other {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block: 20px;
    padding-block: 30px;
    background-color: transparent;
    height: 20px;
    margin: 0;
    width: auto;
    border: 3px solid #fd1e2d;
    position: relative;
}

.next-block-other .row {
    display: flex;
}

.next-block-other .cell {
    width: 15px;
    height: 15px;
    background-color: transparent;
    box-sizing: border-box;
    position: relative;
    top: 50%;
}

.next-block-other .cell.filled {
    background-color: #f0f0f0;
}

@keyframes slideLeft {
  0% {
    left: -12vw;
    opacity: 0;
  }
  100% {
    left: 2vw;
    opacity: 1;
  }
}

.countdown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  color: #F0F0F0;
  font-size: 2rem;
  z-index: 2;
  animation: countDownAnimation 1s forwards infinite;
  text-align: center;
}

@keyframes countDownAnimation {
  0% { opacity: 1; transform: scale(1); }
  100% { opacity: 0; transform: scale(2); }
}

.game-over-container { 
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(36, 36, 36, 0.671);
}

@media (max-width: 1024px) {
  .leaderboard {
    display: none;
  }
}