@font-face {
  font-family: 'Offbit-Regular';
  src: url('./assets/fonts/OffBit-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Offbit-Regular', sans-serif;
  font-weight: 700;
  letter-spacing: 0.12rem;
  user-select: none;
  overflow: hidden;
}