.index-page {
  margin: 0 auto;
  background-color: #242834;
  height: 100vh;
  /* width: 97vw; */
  /* top: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.index-page header {
  text-align: center;
  margin-bottom: 30px;
}

.index-page h1 {
  color: #333;
  font-size: 4.5rem;
}

.border {
  background-color: tomato;
  height: 100vh;
  width: 100vw;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
  margin-bottom: 30px;
}

.nav-button {
  color: #E02A43;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 2.5rem;
  transition: transform 0.3s;
}

.nav-button:hover {
  transform: scale(1.1);
}

.content {
  text-align: center;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
}