.index-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #F0F0F0;
  box-shadow: inset 0 0 0 22px #fd1e2d;
}

.base {
  background-color: #242834;
  padding: 10px;
  z-index: 2;
  /* border: 5px solid #fd1e2d; */
}

.title{
  font-size: 4rem;
  color: #fd1e2d;
  z-index: 3;
  margin-left: 50px;
}

.main-navigation{
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  gap: 3rem;
  z-index: 3;
}

.nav-button{
  text-decoration: none;
  color: #fd1e2d;
  font-size: 3.5rem;
  /* background-color: white; */
  padding: 20px 50px;
  width: auto;
  text-align: center;
  z-index: 3;
  width: 300px;
}

.footer{
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: 1rem;
  color: #fd1e2d;
}

.footer a{
  text-decoration: none;
  color: #242834;
  font-weight: bold;
}

.gridtest {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100vh;
  width: 100vw;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(10, 1fr);
  z-index: 0;
}

.celltest {
  background-color: transparent;
  transition: background-color 0.1s ease-in, background-color 0.5s ease-out;
}

.celltest:hover {
  background-color: transparent;
}

.celltest.active {
  background-color: #fd1e2d;
}

.top-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  margin-bottom: 50px;
}

.logo {
  width: 150px;
  height: auto;
}