.index-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #F0F0F0;
  box-shadow: inset 0 0 0 22px #fd1e2d;
}

.base {
  background-color: #242834;
  padding: 20px;
  z-index: 2;
}

.index-title{
  font-size: 4rem;
  color: #fd1e2d;
  z-index: 3;
  margin-left: 50px;
}

.subtitle {
  color: #fd1e2d;
}

.main-navigation{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  z-index: 3;
}

.nav-button{
  text-decoration: none;
  color: #fd1e2d;
  font-size: 3.5rem;
  padding: 20px 50px;
  width: auto;
  text-align: center;
  z-index: 3;
  width: 300px;
}

.footer{
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: 1rem;
  color: #fd1e2d;
}

.footer a{
  text-decoration: none;
  color: #242834;
  font-weight: bold;
}

.top-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
}

.logo {
  width: 150px;
  height: auto;
}