.index-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 96vh;
  width: 98vw;
  background-color: #fd1e2d;
}

.border{
  background-color: #F0F0F0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title{
  /* position: absolute; */
  /* top: 50px; */
  font-size: 4rem;
  color: #fd1e2d;
  z-index: 3;
  background-color: white;
  padding: 20px 40px;
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.main-navigation{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  z-index: 3;
}

.nav-button{
  text-decoration: none;
  color: red;
  font-size: 3.5rem;
  background-color: white;
  padding: 20px 50px;
  width: auto;
  text-align: center;
  z-index: 3;
  width: 300px;
}

.footer{
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: 1rem;
  color: white;
}

.footer a{
  text-decoration: none;
  color: #242834;
  font-weight: bold;
}

.gridtest {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100vh;
  width: 100vw;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(10, 1fr);
  z-index: 0;
}

.celltest {
  background-color: transparent;
  transition: background-color 0.1s ease-in, background-color 0.5s ease-out;
}

.celltest:hover {
  background-color: white;
}

.celltest.active {
  background-color: white;
}