.not-found-page {
    text-align: center;
    margin-top: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fd1e2d;
}

.content-not-found {
    font-size: 1.5rem;
    color: #fd1e2d;
    margin-bottom: 1.5rem;
    z-index: 3;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-link {
    text-decoration: none;
    color: #fd1e2d;
    font-size: 3rem;
    z-index: 3;
    margin-top: 30px;
}

.not-found-page h1 {
    font-size: 12rem;
    z-index: 3;
    margin: 0;
}

.error-text {
    font-size: 7rem;
    z-index: 3;
    margin: 0;
}

.back-home-txt {
    font-size: 2rem;
    z-index: 3;
    margin-top: 1rem;
}

@media (max-width: 768px) {
    .not-found-page h1 {
        font-size: 8rem;
    }

    .error-text {
        font-size: 5rem;
    }

    .content-not-found {
        font-size: 1.2rem;
    }

    .home-link {
        font-size: 2.5rem;
    }
}