.multi-player-front{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #F0F0F0;
  box-shadow: inset 0 0 0 22px #fd1e2d;
}

.main-navigation{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  z-index: 3;
}

.nav-input{
  text-decoration: none;
  color: #fd1e2d;
  font-size: 1.5rem;
  padding: 10px 20px;
  width: 350px;
  align-items: center;
  background-color: #1d212b;
  border: none;
  font-family: 'OffbitTrial-Regular', sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;

}

.arrow-back{
  cursor: pointer;
  transform: rotate(-90deg);
  width: 72px;
  height: 72px;
}

.content-multi{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.nav-button-multi{
  text-decoration: none;
  color: #fd1e2d;
  background: none;
  border: none;
  font-size: 3.5rem;
  padding: 20px 50px;
  width: auto;
  text-align: center;
  z-index: 3;
  font-family: 'OffbitTrial-Regular', sans-serif;
  font-weight: 700;
}

@media (max-width: 768px) {
  .nav-input{
    width: 250px;
    font-size: 1.2rem;
  }

  .arrow-back{
    width: 48px;
    height: 48px;
  }

  .nav-button-multi{
    font-size: 2.5rem;
    padding: 15px 30px;
  }
}