.gridBack {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100vh;
  width: 100vw;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(10, 1fr);
  z-index: 0;
}

.cellBack {
  background-color: transparent;
  transition: background-color 0.1s ease-in, background-color 0.5s ease-out;
}

.cellBack:hover {
  background-color: transparent;
}

.cellBack.active {
  background-color: #fd1e2d;
}