.singleplayer-component {
    display: flex;
    background: linear-gradient(135deg, #1f1c2c, #202020);
    width: 100vw;
    height: 100vh;    
    justify-content: center;
    align-items: center;
}

.singleplayer-wrapper {
    background: linear-gradient(135deg, #4d4d4d9f, #333235af);
    display: flex;
    gap: 1vw;
    width: 60vw;
    padding: 1vw;
    border: 0.1vw solid #979797;
}

.singleplayer-game {
    height: 80vh;
    max-height: 90vh;
    border: 0.2vw solid #222222;
    display: flex;
}

.singleplayer-grid {
    display: grid;
    width: 100%;
    height: 100%;
    gap: 1px;
}

.singleplayer-row {
    display: contents;
}

.singleplayer-cell {
    background-color: #313131;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #000000;
    user-select: none;
    cursor: pointer;
    margin: 0.1vw;
}

.singleplayer-cell.active {
    background-color: #6d6d6d;
}

.fill-button {
    margin-top: 1vw;
    padding: 0.5vw 1vw;
    background-color: #1e90ff;
    border: none;
    border-radius: 0.5vw;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.fill-button:hover {
    background-color: #3742fa;
    transform: scale(1.05);
}

.singleplayer-next-block {
    height: 15vh;
    width: 15vh;
    border: 0.2vw solid #222222;
    margin-bottom: 1vh;
    background-color: #313131;
    display: flex;
    justify-content: center;
    align-items: center;
}
