.mp-home {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at 50% 30%, #0a1874, #1f064b 70%);
    position: relative;
    overflow: hidden;

}

.mp-home::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image:
    linear-gradient(rgba(72, 63, 151, 0.15) 1px, transparent 1px),
    linear-gradient(90deg, rgba(72, 63, 151, 0.15) 1px, transparent 1px);
    background-size: 50px 50px;
    z-index: 0;
}

.title {
    font-size: 5vw;
    color: #00c9ff;
    text-shadow: 0 0 1vw #00c9ff, 0 0 2vw #007bff;
    margin-bottom: 3vw;
    text-align: center;
    letter-spacing: 0.3vw;
}

.title span {
    display: block;
    font-size: 2vw;
    color: white;
    text-shadow: 0 0 0.8vw rgba(255, 255, 255, 0.5);
}

.mp-content {
    z-index: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mp-content button {
    width: 100%;
    padding: 1vw;
    border-radius: 1vw;
    font-size: 1.3vw;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #fff;
    letter-spacing: 0.05vw;
    box-shadow: 0 0 1vw rgba(0, 200, 255, 0.4);
    background: linear-gradient(180deg, #0053ff, #002db3);
    font-family: 'Mail Sans Roman Bold', sans-serif;
    margin-bottom: 1.5vw;
}

.mp-content input {
    width: 50%;
    text-align: center;
    padding: 1vw;
    border-radius: 1vw;
    font-size: 1.3vw;
    font-weight: 500;
    border: none;
    outline: none;
    box-shadow: 0 0 1vw rgba(0, 200, 255, 0.4);
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    letter-spacing: 0.05vw;
    margin-bottom: 1.5vw;
    font-family: 'Mail Sans Roman Regular', sans-serif;
}


.mp-content button:hover {
    transform: scale(1.05);
    background: linear-gradient(180deg, #2a9fff, #0047ff);
    box-shadow: 0 0 2vw rgba(0, 200, 255, 0.6);
}

.mp-content p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1vw;
    margin-top: 0.5vw;
}
