.single-player-back {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 1px;
  background-color: #333;
  padding: 10px;
  border: 2px solid #000;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1px;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid #222222;
}

.cell.cyan {
    background: linear-gradient(135deg, #00ffff, #00bfff);
}

.cell.blue {
    background: linear-gradient(135deg, #0000ff, #0000cd);
}

.cell.orange {
    background: linear-gradient(135deg, #ffa500, #ff8c00);
}

.cell.yellow {
    background: linear-gradient(135deg, #ffff00, #ffd700);
}

.cell.green {
    background: linear-gradient(135deg, #00ff00, #32cd32);
}

.cell.purple {
    background: linear-gradient(135deg, #800080, #8a2be2);
}

.cell.red {
    background: linear-gradient(135deg, #ff0000, #dc143c);
}

.cell.hover {
    background: rgba(255, 255, 255, 0.3);
}