.game-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  position: relative;
  width: 100%;
  animation: background-transition 1s ;
  background-color: #242834;
  box-shadow: inset 0 0 0 0px #fd1e2d;
}

.single-player-back {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  border-radius: 25px;
}

.grid {
  display: flex;
  flex-direction: column;
  background-color: #353541;
  padding: 10px;
  border: 3px solid #D82940;
  /* animation: glow 3s infinite; */
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  width: 30px;
  height: 30px;
  border: 2px solid #242834;
}

.cell.cyan {
    background-color: #E02A43;
}

.cell.blue {
    background-color: #B62336;
}

.cell.orange {
    background-color: #941C2C;

}

.cell.yellow {
    background-color: #ec1e28;

}

.cell.green {
    background-color: #a72e3e;

}

.cell.purple {
    background-color: #990c1f;
}

.cell.red {
    background-color: #FF3E3E;
}

.cell.hover {
    background: rgba(255, 255, 255, 0.3);
}

.score-board {
  margin-top: 20px;
  padding: 10px;
  border: 3px solid #D82940;
  background-color: transparent;
  width: 200px;
  height: 5vh;
  text-align: center;
  color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-button {
  font-size: 16px;
  background: none;
  color: #f0f0f0;
  border: none;
  cursor: pointer;
}

.start-message {
  padding: 20px;
  margin: 20px 0;
  text-align: center;
  color: #f0f0f0;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  animation: blink 2.5s infinite;
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.game-over-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #ff4c4c;
  padding: 40px;
  border: 4px solid #D82940;
  border-radius: 15px;
  text-align: center;
  z-index: 2;
  font-size: 3rem;
  animation: pulse 2s infinite;
}

.start-message p {
  margin: 0;
  font-size: 2.3rem;
}

.start-message strong {
  color: #D82940;
  font-size: 2.4rem;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 5px #D82940;
  }
  50% {
    box-shadow: 0 0 20px #D82940;
  }
  100% {
    box-shadow: 0 0 5px #D82940;
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.info {
  color: white;
  font-size: 18px;
  /* margin-top: 20px; */
  text-align: center;
  height: auto;
  /* background-color: blue; */
}

.next-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 20px;
    padding-block: 30px;
    background-color: transparent;
    height: auto;
    margin: 0;
    border: 3px solid #D82940;
}

.next-block .row {
    display: flex;
}

.next-block .cell {
    width: 30px;
    height: 30px;
    border: 3px solid #ccc;
    background-color: transparent;
}

.next-block .cell.filled {
    background-color: #f0f0f0;
}

@keyframes background-transition {
  0% {
    background-color: #F0F0F0;
    box-shadow: inset 0 0 0 22px #fd1e2d;
  }
  100% {
    background-color: #242834;
    box-shadow: inset 0 0 0 0px #fd1e2d;
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 100px #B6FF00;
  }
  50% {
    box-shadow: 0 0 150px #B6FF00;
  }
  100% {
    box-shadow: 0 0 100px #B6FF00;
  }
}

.test {
  display: flex;
  gap: 20px;
}
