.game-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  position: relative;
  width: 100%;
  background-color: #242834;
  box-shadow: inset 0 0 50px #7D53FF;
}

.single-player-back {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  border-radius: 25px;
}

.grid {
  display: flex;
  flex-direction: column;
  background-color: #333;
  padding: 10px;
  border: 3px solid #B6FF00;
  animation: glow 3s infinite;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  width: 30px;
  height: 30px;
  border: 2px solid #242834;
}

.cell.cyan {
    background-color: #3ec2c0;
}

.cell.blue {
    background-color: #256EFF;
}

.cell.orange {
    background-color: #ff6113;

}

.cell.yellow {
    background-color: #F1A208;

}

.cell.green {
    background-color: #3DDC97;

}

.cell.purple {
    background-color: #bb6de2;
}

.cell.red {
    background-color: #FF3E3E;
}

.cell.hover {
    background: rgba(255, 255, 255, 0.3);
}

.score-board {
  margin-top: 20px;
  padding: 10px;
  border: 3px solid #B6FF00;
  background-color: transparent;
  width: 200px;
  height: 5vh;
  text-align: center;
  color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-button {
  font-size: 16px;
  background: none;
  color: #f0f0f0;
  border: none;
  cursor: pointer;
}

.info {
  color: white;
  font-size: 18px;
  /* margin-top: 20px; */
  text-align: center;
  height: auto;
  /* background-color: blue; */
}

.next-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 20px;
    padding-block: 30px;
    background-color: transparent;
    height: auto;
    margin: 0;
    border: 3px solid #B6FF00;
}

.next-block .row {
    display: flex;
}

.next-block .cell {
    width: 30px;
    height: 30px;
    border: 3px solid #ccc;
    background-color: transparent;
}

.next-block .cell.filled {
    background-color: #f0f0f0;
}

.start-button:hover {
}

@keyframes glow {
  0% {
    box-shadow: 0 0 100px #B6FF00;
  }
  50% {
    box-shadow: 0 0 150px #B6FF00;
  }
  100% {
    box-shadow: 0 0 100px #B6FF00;
  }
}

.test {
  display: flex;
  gap: 20px;
}
